<h1 class='d-flex justify-content-between align-items-center'>{{title}}
  <a href='/transaction' class='actionButton cancel'>Voltar</a></h1>


<hr />

<form method='post' action='/transaction/edit'>
  <input type='hidden' name='id' value='{{model.id}}' />
  <label>
    Rótulo:
    <input
      type='text'
      name='label'
      placeholder='Ex. Refeição no restaurante'
      value='{{model.label}}'
      required
    />
  </label>
  <label>
    Valor:
    <input
      type='number'
      step='any'
      name='value'
      placeholder='Ex. R$ 9,90 '
      value='{{model.value}}'
      required
    />
  </label>
  <label>
    Categorias:
    <input
      type='text'
      name='categories'
      value='{{model.categories}}'
      placeholder='transporte, alimentação, roupas, viagens, etc..'
    />
  </label>
  <label>
    Data:
    <input type='date' name='dueDate' value='{{model.dueDate}}' />
  </label>
  <label>
    Tipo:
    <select name='type' value='{{model.type}}' required>
      <option value=''>- Selecione -</option>
        <option value='Receita' {{#if (isEqual 'Receita' model.type)}}selected{{/if}}>Receita</option>
        <option value='Despesa' {{#if (isEqual 'Despesa' model.type)}}selected{{/if}}>Despesa</option>

    </select>
  </label>
  <p>Created At: {{model.createdAt}}</p>
  <p>Updated At: {{model.updatedAt}}</p>
  <button type='submit' class="actionButton new">Finalizar Edição</button>
</form>

<script src='/javascripts/transaction.js'></script>