<form
  method='post'
  action='/addAndEditRedirect'
  id='addAndEditTransactionForm'
  class='form'
>
  <fieldset>
    {{#if datasource}}
    <input type="hidden" name="id" value="{{datasource.id}}">
    {{/if}}
    <div class='field'>
      <label>Descrição</label>
      <input
        type='text'
        name='label'
        placeholder='Descrição'
        value='{{datasource.label}}' 
        maxlength="50"
        required
      />
    </div>
    <div class='field'>
      <label>Valor</label>
      <input
        type='text'
        step='any'
        name='value'
        placeholder='Preço'
        value='{{toPositiveNumberFormat datasource.value}}'
        class="currencyMask"
        maxlength="50"
        required
      />
    </div>
    <div class='field'>
      <label>Categoria</label>
      <select name='categories' required>
        <option value=''>- Categoria -</option>
        <optgroup label="Receitas">
          <option {{#if (isEqual 'Salário' datasource.categories) }}selected{{/if}}>Salário</option>
          <option {{#if (isEqual 'Venda' datasource.categories) }}selected{{/if}}>Venda</option>
          <option {{#if (isEqual 'Freelancer' datasource.categories) }}selected{{/if}}>Freelancer</option>
          <option {{#if (isEqual 'Investimento' datasource.categories) }}selected{{/if}}>Investimento</option>
        </optgroup>
        <optgroup label="Despesas">
          <option {{#if (isEqual 'Alimentação' datasource.categories) }}selected{{/if}}>Alimentação</option>
          <option {{#if (isEqual 'Conforto' datasource.categories) }}selected{{/if}}>Conforto</option>
          <option {{#if (isEqual 'Educação' datasource.categories) }}selected{{/if}}>Educação</option>
          <option {{#if (isEqual 'Lazer' datasource.categories) }}selected{{/if}}>Lazer</option>
          <option {{#if (isEqual 'Moradia' datasource.categories) }}selected{{/if}}>Moradia</option>
          <option {{#if (isEqual 'Saúde' datasource.categories) }}selected{{/if}}>Saúde</option>
          <option {{#if (isEqual 'Transporte' datasource.categories) }}selected{{/if}}>Transporte</option>
          <option {{#if (isEqual 'Vestuario' datasource.categories) }}selected{{/if}}>Vestuario</option>
          <option {{#if (isEqual 'Viagem' datasource.categories) }}selected{{/if}}>Viagem</option>
          <option {{#if (isEqual 'Presente' datasource.categories) }}selected{{/if}}>Presente</option>
          <option {{#if (isEqual 'Outros' datasource.categories) }}selected{{/if}}>Outros</option>
        </optgroup>
      </select>
    </div>
    <div class='field'>
      <label>Data</label>
      <input
        type='date'
        name='dueDate'
        value='{{ datasource.dueDate}}'
        required
      />
    </div>
    <div class='field'>
      <label>Tipo</label>
      <div class='radioList'>
        <div class='radioItem'>
          <label class='radioLabel income {{#if (isEqual 'Receita' datasource.type) }}checked{{/if}}'><input
              type='radio'
              name='type'
              value='Receita'
              {{#if (isEqual 'Receita' datasource.type) }}checked{{/if}}
              required
            />
            <i class='material-symbols-outlined'>
              arrow_circle_up
            </i>
            Entrada</label>
        </div>
        <div class='radioItem'>
          <label class='radioLabel expense {{#if (isEqual 'Despesa' datasource.type) }}checked{{/if}}'><input
              type='radio'
              name='type'
              value='Despesa'
              {{#if (isEqual 'Despesa' datasource.type) }}checked{{/if}}
            />
            <i class='material-symbols-outlined'>
              expand_circle_down
            </i>
            Saída</label>
        </div>
      </div>
    </div>
    <div class='field twoButtons'>
      <a href="/delete/{{datasource.id}}" type='button' onclick="return confirm('Deseja excluir esta transação?')">Excluir</a>
      <button type='submit'>Editar</button>
    </div>

  </fieldset>
</form>