<section class='transactions'>
  <form class='search' action='/'>
    <input type='search' name='q' placeholder='Busque uma transação' />
    <button type='submit'>
      <i class='material-symbols-outlined'>search</i>
      Buscar
    </button>
  </form>
  <ul class='list'>
    {{#each datasource}}
      <li class='item'>
        <p class='label'><a href='/edit/{{this.id}}'>{{this.label}}</a></p>
        <p class='price'>{{toCurrencyBrl this.value}}</p>
        <p class='type'>{{this.type}}</p>
        <p class='dueDate'>{{toDate this.dueDate}}</p>
      </li>
    {{/each}}
  </ul>
</section>